In [1]:
import pandas as pd

In [2]:
hub_df = pd.read_csv('../data/hubNashville__311__Service_Requests.csv')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
hub_covid_df = hub_df[hub_df['Request Type'] == 'COVID-19']

In [4]:
hub_covid_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16071 entries, 1547 to 481570
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Request #                   16071 non-null  int64
 1   Status                      16071 non-null  object
 2   Request Type                16071 non-null  object
 3   Subrequest Type             16070 non-null  object
 4   Additional Subrequest Type  16052 non-null  object
 5   Date / Time Opened          16071 non-null  object
 6   Date / Time Closed          15952 non-null  object
 7   Request Origin              16071 non-null  object
 8   System of Origin ID         0 non-null      object
 9   Contact Type                65 non-null     object
 10  Preferred Language          0 non-null      float64
 11  State Issue                 16071 non-null  bool
 12  Parent Request              1 non-null      float64
 13  Closed When Created         16071 non-null  bool
 14  Address                     11755 non-null  object
 15  City                        11129 non-null  object
 16  Council District            11161 non-null  float64
 17  ZIP                         11194 non-null  object
 18  Latitude                    11850 non-null  float64
 19  Longitude                   11850 non-null  float64
 20  Mapped Location             11850 non-null  object
dtypes: bool(2), float64(5), int64(1), object(13)
memory usage: 2.5+ MB

In [5]:
hub_covid_violations_df = hub_covid_df[hub_covid_df['Subrequest Type'] == 'COVID-19 Violations']

In [6]:
hub_covid_violations_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11719 entries, 1547 to 481524
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Request #                   11719 non-null  int64
 1   Status                      11719 non-null  object
 2   Request Type                11719 non-null  object
 3   Subrequest Type             11719 non-null  object
 4   Additional Subrequest Type  11710 non-null  object
 5   Date / Time Opened          11719 non-null  object
 6   Date / Time Closed          11646 non-null  object
 7   Request Origin              11719 non-null  object
 8   System of Origin ID         0 non-null      object
 9   Contact Type                46 non-null     object
 10  Preferred Language          0 non-null      float64
 11  State Issue                 11719 non-null  bool
 12  Parent Request              1 non-null      float64
 13  Closed When Created         11719 non-null  bool
 14  Address                     11345 non-null  object
 15  City                        10732 non-null  object
 16  Council District            10765 non-null  float64
 17  ZIP                         10797 non-null  object
 18  Latitude                    11441 non-null  float64
 19  Longitude                   11441 non-null  float64
 20  Mapped Location             11441 non-null  object
dtypes: bool(2), float64(5), int64(1), object(13)
memory usage: 1.8+ MB

In [7]:
for field in ['Date / Time Opened', 'Date / Time Closed']:
    hub_covid_violations_df[field] = pd.to_datetime(hub_covid_violations_df[field], errors='coerce')

<ipython-input-7-766ac9628eea>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hub_covid_violations_df[field] = pd.to_datetime(hub_covid_violations_df[field], errors='coerce')

In [8]:
with_parent = hub_covid_violations_df[hub_covid_violations_df['Parent Request'].notnull()].index[0]

In [9]:
hub_covid_violations_df = hub_covid_violations_df.drop(with_parent)

In [10]:
for field in ['System of Origin ID', 'Preferred Language', 'Request Type', 'Subrequest Type', 'Additional Subrequest Type', 'Request Origin', 'Parent Request']:
    del hub_covid_violations_df[field]

In [11]:
hub_covid_violations_df.head()

,Request #,Status,Date / Time Opened,Date / Time Closed,Contact Type,State Issue,Closed When Created,Address,City,Council District,ZIP,Latitude,Longitude,Mapped Location
1547,444823,Closed,2020-08-14 02:38:00,2020-08-14 14:37:15,NaN,False,False,2045 Antioch Pike,ANTIOCH,28.0,37013,36.068546,-86.683898,"(36.0685457, -86.6838975)"
3380,479965,Closed,2020-10-13 11:48:40,2020-10-13 13:48:08,NaN,False,False,2800 Opryland Dr,NASHVILLE,15.0,37214,36.211269,-86.694302,"(36.211269429469425, -86.6943024067459)"
3661,392927,Closed,2020-06-16 00:35:20,2020-06-17 14:28:19,NaN,False,False,2607 12th Ave S,NASHVILLE,18.0,37204,36.123500,-86.790130,"(36.1235, -86.79013)"
3845,444512,Closed,2020-08-13 18:50:31,2020-08-14 14:22:11,NaN,False,False,3200 Clarksville Pike,NASHVILLE,2.0,37218,36.194163,-86.831394,"(36.1941628, -86.8313936)"
3877,444440,Closed,2020-08-13 18:03:09,2020-08-14 14:18:59,NaN,False,False,20 Grundy St,NASHVILLE,19.0,37203,36.158440,-86.788038,"(36.15843971160494, -86.7880380629013)"

In [12]:
hub_covid_violations_df.to_csv('../data/hub_covid_violations.csv', index=False)